# A boilerplate requirements file for
# sample-project

# Install project inside the active virtual
# environment. The virtual environment archive will be
# shipped to Spark driver and executor
# This will ensure that local dependencies 
# and imports can be resolved.
.
