-i https://gitlab.wikimedia.org/api/v4/projects/40/packages/pypi/simple
algorunner
pandas==1.3.3
numpy==1.22.0
# Install project inside the active virtual
# environment. The virtual environment archive will be
# shipped to Spark driver and executor
# This will ensure that local dependencies 
# and imports can be resolved.
.
